header {
  width: 100%;
  background-color: #fff;
  height: 70px;
  color: $secondaryColor;

  .header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .logo {
      color: $secondaryColor;
    }
    .nav {
      display: flex;
      column-gap: 53px;
      align-items: center;
      .nav-list {
        display: flex;
        column-gap: 63px;
        li a {
          color: $secondaryColor;
        }
      }
      .social-list {
        display: flex;
        column-gap: 20px;
      }
    }
  }
}
